.header-component {
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    border: 1px solid red;
}

.logo {
    height: 150px;
    width: 230px;
}

.logo:hover {
    cursor: pointer;
}

.list-container > ul{
    display: flex;
    list-style-type: none;
    font-size: 25px;
  }

.list-container > ul > :hover{
    cursor: pointer ;
}

.list-container > ul > li {
    padding: 30px;
}

.login-btn {
    height: 30px;
    width: 70px;
}

.login-btn:hover {
    cursor: pointer;
}