.header-component {
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    border: 1px solid red;
}

.logo {
    height: 150px;
    width: 230px;
}

.logo:hover {
    cursor: pointer;
}

.list-container > ul{
    display: flex;
    list-style-type: none;
    font-size: 25px;
  }

.list-container > ul > :hover{
    cursor: pointer ;
}

.list-container > ul > li {
    padding: 30px;
}

.login-btn {
    height: 30px;
    width: 70px;
    border: 1px solid red;
}

.login-btn:hover {
    cursor: pointer;
}

/* Body css */

.body-upper {
    display: flex;
    padding: 1px;
}

.btn-bod > button:hover {
    cursor: pointer;
    border: 1px solid red;
}

.body-search{
    margin-left: 10px;
}


.body-search > button:hover {
    cursor: pointer;
    border: 1px solid red;
}

/* Restaurant card css */

.res-containerr{
    display: flex;
    flex-wrap: wrap;

}

.res-card {
    height: 300px;
    width: 200px;
    padding: 5px;
    background-color: bisque;
    margin: 5px;
}

.res-card:hover{
    border: 1px solid red;
    cursor: pointer;
}

.rest-logo{
    width: 100%;
}

